.btn {
  margin-left: 1.5rem;
  padding: 1rem 2rem;
  background: #ff5252;
  color: #fff;
  transition: all 0.3s ease;
  border: 0.1rem solid #ccc;
  border-radius: 3px;
}

.btn:hover {
  background: transparent;
  color: #ff5252;
}

.btn-controls {
  display: flex;
  align-items: center;
}

@media (max-width: 1300px) {
  .btn-control {
    padding: 0rem 0rem;
  }
}
